@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #1e1d2b;

}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: fixed;
    top: 0;
    background-color: #1e1d2b;
}
header .logo a{
    text-decoration: none;
    color: #ff702a;
    font-size: 60px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-right: 15px;
}
header .buscar{
    display: none;
}
.principal{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.principal .titulo{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.principal .titulo h1{
    text-decoration: none;
    color: #ff702a;
    font-size: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.principal .titulo p{
    text-decoration: none;
    color: #fff;
    font-size: 40px;
}
.principal .titulo button{
    border: none;
    outline: none;
    color: #fff;
    background-color: #ff702a;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 2px;
}
.principal .ImgPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.principal .ImgPrincipal img{
    height: 70vh;
}
.pagina2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pagina2 .imgAbout{
    width: 50%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagina2 .imgAbout img{
    display: flex;
    align-items: center;
    justify-content: end;
}
.pagina2 .about{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: start;
    width: 90vh;
}
.pagina2 .about h4{
    color: #ff702a;
    font-size: 20px;
}
.pagina2 .about a{
    color: #fff;
    text-decoration: none;
    font-size: 60px;
}
.pagina2 .about p{
    color: #fff;
    width: 60vh;
    font-size: 20px;
}
.pagina2 .about button{
    border: none;
    outline: none;
    color: #fff;
    background-color: #ff702a;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 2px;
}
.pagina3{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:center;
    flex-direction: column;
}
.pagina3 .text{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}
.pagina3 .text h3{
    text-decoration: none;
    color: #ff702a;
    font-size: 25px;
    margin: 0;
}
.pagina3 .text p{
    color: #fff;
    font-size: 50px;
    margin: 0;
}
.pagina3 .imgTxt{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}
.pagina3 .imgTxt div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffefe8;
    padding: 60px;

}
.pagina3 .imgTxt div img{
    width: 250px;
}
.pagina3 .imgTxt div p{
    color: #000;
    text-decoration: none;
    margin: 0;
}
.pagina3 .imgTxt div p:nth-child(4){
    color: #ff702a;
    font-size: 15px;
}
.pagina3 .imgTxt div p:nth-child(3){
    font-size: 15px;
}
.pagina4{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pagina4 .pagHeader{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}
.pagina4 .pagHeader h3{
    color: #ff702a;
    font-size: 25px;
    margin: 0;
}
.pagina4 .pagHeader p{
    color: #fff;
    font-size: 50px;
    margin: 0;
}
.pagina4 .service{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.pagina4 .service div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pagina4 .service div img{
    width: 250px;
}
.pagina4 .service div p{
    color: #ff702a;
    font-size: 25px;
    text-align: center;
    margin: 10px;
}
.pagina4 .service div p:nth-child(3){
    color: #fff;
    font-size: 15px;
    padding: 0 35px;
}
.pagina5{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagina5 .letrero{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pagina5 .letrero div{
    background-color: #ffefe8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 400px;
}
.pagina5 .letrero div h2{
    color: #000;
    font-size: 80px;
    text-align: center;
}
.pagina5 .letrero div button{
    border: none;
    outline: none;
    color: #fff;
    background-color: #ff702a;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 40px;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 30px;
}
.pagina5 .contacto{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pagina5 .contacto div{
    display: flex;
    flex-direction: column;
    align-self: start;
}
.pagina5 .contacto div h3{
    color: #fff;
    font-size: 25px;
}
.pagina5 .contacto div h3::after{
    content: '';
    width: 40px;
    height: 2px;
    background-color: #ff702a;
    margin-top: 2px;
    display: block;
}
.pagina5 .contacto div a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.pagina5 .contacto .redes .iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    color: #ff702a;

}
@media screen and (max-width: 768px) {
    header{
        display: flex;
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 0;
        right: 0;
        left: 0;
    }
    header .logo a{
        font-size: 40px;
    }
    header .menu{
        position: fixed;
        display: flex;
        align-items: center;
        top: 0;
        right: 0;
        transform: translateY(-400%);
        transition: 0.3s;
        background-color: #2c2b47;
        width: 100%;
        gap: 10px;
        flex-direction: column;
    }
    header .menu.active{
        transform: translateY(15%);
        z-index: 1;
    }
    header .buscar{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 20px;
        margin: 0;
        border: none;
        outline: none;
        color: #ff702a;
        background-color: #1e1d2b;
        font-size: 30px;
    }
    header .menu a{
        font-size: 50px;
    }
    .principal{
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .principal .titulo h1{
        font-size: 50px;
        text-align: center;
    }
    .principal .titulo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .principal .titulo p{
        font-size: 20px;
        text-align: center;
    }
    .principal .titulo button{
        font-size: 15px;
        padding: 10px 20px;
    }
    .principal .ImgPrincipal{
        margin: 50px 0;
    }
    .principal .ImgPrincipal img{
        height: 350px;
    }
    .pagina2{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .pagina2 .imgAbout{
        order: 1;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
    }
    .pagina2 .imgAbout img{
        width: 350px;
    }
    .pagina2 .about{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pagina2 .about a{
        font-size: 35px;
        text-align: center;
    }
    .pagina2 .about p{
        font-size: 20px;
        text-align: center;
    }
    .pagina2 .about button{
        font-size: 15px;
        padding: 10px 20px;
    }
    .pagina3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        height: auto;
    }
    .pagina3 .text{
        height: 10vh;
        margin-bottom: 50px;
    }
    .pagina3 .text h3{
        text-align: center;
        font-size: 20px;
    }
    .pagina3 .text p{
        font-size: 35px;
        text-align: center;
    }
    .pagina3 .imgTxt{
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: auto;
        margin-bottom: 25px;
    }
    .pagina3 .imgTxt div{
        width: 60%;
        padding: 30px;
    }
    .pagina3 .imgTxt div img{
        width: 60%;
    }
    .pagina4{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
    }
    
    .pagina4 .pagHeader h3{
        font-size: 20px;
        text-align: center;
    }
    .pagina4 .pagHeader p{
        font-size: 35px;
        text-align: center;
    }
    .pagina4 .service{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        height: auto;
    }
    .pagina4 .service div{
        width: 100%;
    }
    .pagina4 .service div img{
        width: 60%;
    }
    .pagina5{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
    }
    .pagina5 .letrero{
        width: 100%;
        height: auto;
        margin: 30px 0;
        background-color: aqua;
    }
    .pagina5 .letrero div {
        padding: 0;
        width: 100%;
    }
    .pagina5 .letrero div h2{
        font-size: 20px;
        text-align: center;
        width: 100%;
    }
    .pagina5 .letrero div button{
        font-size: 15px;
        padding: 10px 20px;
    }
    .pagina5 .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .pagina5 .contacto div{
        display: flex;
        align-items: start;
        justify-content: start;
        width: 100%;
    }
}